$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-yellow-light: #FEE9AB;
$color-yellow-dark: #FBD769;
$color-orange: #ED883A;

$color-primary: #382C5F;
$color-primary-light: #423C63;
$color-primary-light-2: #7A6DBE;
$color-primary-dark: #211B35;

$color-header-light: #fdfcfb;
$color-header-dark: #988B80;

$color-secondary-light: #EADED2;
$color-secondary-dark: #988B80;

$color-tertiary-light: #F6D573;
$color-tertiary-dark: #F2BB12;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
